$font-family: 'Kumbh Sans', sans-serif;

$color-text: #787887;
$color-title: #1e1f36;
$color-question: #4b4c5f;
$color-vizit: #f47b56;

%text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
