@media (max-width: 1050px) {
  .accordion-container {
    padding: 0 50px;
  }
  .accordion-media-at {
    left: -140px;
  }
}
@media (max-width: 1010px) {
  .accordion-container {
    margin: 150px auto;
    flex-direction: column;
    align-items: center;
    background: url('../../assets/images/romb__media.jpg') no-repeat #fff;
    background-position: top center;
    background-size: auto;
  }
  .accordion-media {
    min-height: 0;
  }
  .accordion-media-magic {
    display: block;
    position: absolute;
    top: -110px;
    left: 49px;
  }
  .accordion-media-at {
    display: none;
  }
  .accordion-container-accordion {
    margin-top: 60px;
    padding: 65px 24px;
  }
}
@media (max-width: 415px) {
  .accordion-container-accordion {
    width: 370px;
  }
}
@media (max-width: 370px) {
  .accordion-container-accordion {
    width: 275px;
  }
}
